<div class="col-md-12">
  <br/>

  <h1>Add trip</h1>

  <hr/>

  <form [formGroup]="addTripForm" (ngSubmit)="addTrip()">
    <div class="form-group row">
      <label for="title" class="col-sm-2">Title</label>
      <div class="col-sm-6">
        <input type="text" min="1" class="form-control" formControlName="title" id="title">
        <div *ngIf="addTripForm.controls.title?.touched && addTripForm.controls.title?.errors?.required"
             class="invalid-feedback">
          Title is required!
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="location" class="col-sm-2">Location</label>
      <div class="col-sm-6">
        <input type="text" min="1" class="form-control" formControlName="location" id="location">
        <div *ngIf="addTripForm.controls.location?.touched && addTripForm.controls.location?.errors?.required"
             class="invalid-feedback">
          Location is required!
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="startDate" class="col-sm-2">Start Date</label>
      <div class="col-sm-6">
        <input type="date" min="1" class="form-control" formControlName="startDate" id="startDate">
        <div *ngIf="addTripForm.controls.startDate?.touched && addTripForm.controls.startDate?.errors?.required"
             class="invalid-feedback">
          Start date is required!
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="endDate" class="col-sm-2">End Date</label>
      <div class="col-sm-6">
        <input type="date" min="1" class="form-control" formControlName="endDate" id="endDate">
        <div *ngIf="addTripForm.controls.endDate?.touched && addTripForm.controls.endDate?.errors?.required"
             class="invalid-feedback">
          End date is required!
        </div>
      </div>
    </div>

    <div>
      <button type="submit" class="btn btn-success" [disabled]="addTripForm.invalid">
        Save trip &nbsp; <i class="bi bi-cash-stack"></i>
      </button>
    </div>
  </form>
</div>
