<div class="col-md-12">
    <br />

    <h1>Trips</h1>

    <hr />

    <button type="button" class="btn btn-primary" [routerLink]="'/trips/add'">Add Trip</button>


    <table class="table">
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        <tr *ngFor="let x of trips">
            <td><a [routerLink]="['/trips', x.id ]">{{ x.title }}</a></td>
            <td>{{ x.location }}</td>
            <td>{{ x.startDate }}</td>
            <td>{{ x.endDate }}</td>
        </tr>
    </table>
</div>