<br/>

<div class="jumbotron">
  <h1>Welcome to Trip Expense Tracker!</h1>

  <hr/>

  <br/>
  <br/>
  <br/>

  <h3>You are in the right place for managing your spending on holidays!</h3>

  <br/>
  <br/>

  <div style="float: right">
    <button style="width: 120px" type="button" class="btn btn-primary" [routerLink]="'/login'">Login</button>
    &nbsp;&nbsp;&nbsp;
    <button style="width: 120px" type="button" class="btn btn-primary" [routerLink]="'/register'">Register</button>
  </div>
</div>
